h3 {
  border-top: 1px solid rgba(125, 125, 125, 0.1);
  padding: 15px 0 10px 0;
  font-size: larger;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding-bottom: 10px;
}

.album_section {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: fit-content;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.album_section * {
  color: aliceblue;
  text-decoration: none;
}

/* Album Section Styles ==================================*/
.albumCard {
  width: 190px;
  height: auto;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.albumCard > img {
  width: 120px;
  height: auto;

  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
}

.albumCard > div {
  font-weight: bold;
  color: white;
  margin-top: 8px;
  padding: 0 10px;
}

.albumCard > p {
  font-size: 14px;
  color: #9c9ea1;
  margin: 0;
  margin-top: 5px;
  padding: 0 10px;
}

/* ------------------ Dataset section  ------------------*/

.card {
  min-width: 300px;
  height: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  scroll-snap-align: center;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
  filter: brightness(0.8);
  transition: filter 0.5s ease-in-out;
}

.cardFooter {
  padding: 15px;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px) brightness(0.5);
  backdrop-filter: blur(10px) brightness(0.5);
}

.cardFooter > * {
  margin: 0;
}

.cardFooter > div {
  font-size: large;
}
.cardFooter > p {
  margin-top: 10px;
  color: #9c9ea1;
}

/* Media Section Styles ==================================*/
.media_section {
  position: relative;
  background-color: rgb(49, 49, 54);
  border-radius: 12px;
  margin: 0 20px;
}

.media_section > A {
  /* Reset styles */
  all: unset; /* Reset all default button styles */
  box-sizing: border-box; /* Ensure padding doesn't affect width */

  /* Flexbox setup */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Appearance and layout */
  width: 100%; /* Ensure the button spans the full width of its container */
  padding: 12px 20px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.33);
  background: none;
}

.media_section > A:last-child {
  border: none;
}

.media_section > A:hover {
  background-color: rgb(103, 103, 108);
  border-radius: 10px;
}

/* Styling spans inside the button */
.media_section > A > span:first-child {
  font-size: 18px;
  color: white;
}

.media_section > A > span:last-child {
  font-size: 15px;
  color: rgb(205, 205, 205);
}
