/* Overlay image for videos tag */
.overlayImg {
  opacity: 1;
  transition: opacity 1s linear;
  max-height: 100dvh;
}

/* /////////////////// VIDEO //////////////////////// */
/* .playerWrapper {
  position: absolute;
  width: 350px;
  height: 50px;

  left: 50%;
  transform: translateX(-50%);

  bottom: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2px;
  z-index: 10;
} */
.seekBtn {
  position: fixed;
  bottom: 0;
  width: 50px;
  height: 500px;
  padding: 0;
  background: transparent;
  overflow: hidden;
  border: none;
}

.backward {
  left: 0;
  border-radius: 0 250px 250px 0;
}

.forward {
  right: 0;
  border-radius: 250px 0 0 250px;
}

.seekOverlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
}

.backward .seekOverlay {
  background: linear-gradient(to right, rgba(59, 59, 59, 0.6) 0%, rgba(59, 59, 59, 0.2) 60%, rgba(59, 59, 59, 0) 100%);
}

.forward .seekOverlay {
  background: linear-gradient(to left, rgba(59, 59, 59, 0.6) 0%, rgba(59, 59, 59, 0.2) 60%, rgba(59, 59, 59, 0) 100%);
}

.isDoubleClick .seekOverlay {
  opacity: 1;
}

/* //////////////////////////////////// */

.videoControler {
  /* pointer-events: visible; */
  /* background-color: aqua; */
  flex-direction: column;
  gap: 0;
  justify-content: flex-end;
  height: auto;

  text-shadow: var(--textSvgShadow);
  pointer-events: none;
}
.videoControler > button {
  margin-left: auto;
}

.videoControler > .playInfo {
  pointer-events: auto;

  display: flex;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;

  gap: 15px;

  text-shadow: var(--textSvgShadow);

  width: 100%;
  min-width: 100%;
  /* max-width: 300px; */

  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.videoControler > .playInfo > p {
  /* min-width: 100px; */
  width: 70px;
  text-align: center;
  font-size: small;
}

.videoControler > .playbar {
  pointer-events: auto;

  display: flex;
  flex-wrap: nowrap;

  justify-content: space-evenly;
  align-items: center;

  gap: 15px;

  text-shadow: var(--textSvgShadow);

  width: 100%;

  margin: 0;
  padding: 0 5px;
  /* box-sizing: border-box; */
}

.videoControler > .playbar svg {
  filter: drop-shadow(var(--textSvgShadow));
}

.playPauseBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playPauseBtn > svg {
  width: 50px;
  height: 50px;
}

/* ------------------------------------ */
.videoSlider {
  appearance: none;
  background: none;
  border: none;
  height: 20px;

  flex-grow: 1;
  flex-shrink: 1;
  min-width: 120px;
  max-width: 100%;

  /* filter: drop-shadow(var(--textSvgShadow)); */
}

.videoSlider::-webkit-slider-thumb {
  background: var(--text-color);
  border-radius: 4em;
  height: 1.5px;
  width: 1.5px;

  cursor: pointer;
  appearance: none;

  outline: none;

  border: none;
  transition: all 0.3s linear;
}
.videoSlider::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--text-color) 0%,
    var(--text-color) var(--currentProcess),
    gray var(--currentProcess),
    gray 100%
  );
  height: 5px;
  border-radius: 15px;
  transition: all 0.3s linear;
}

.videoSlider:hover::-webkit-slider-thumb {
  pointer-events: auto;
  box-shadow: 0 0 5px 5px rgba(23, 186, 250, 0.799);

  border: 1px black;
  border-radius: 4em;
  height: 17px;
  width: 17px;
  border: none;
  margin-top: calc((5px - 17px) / 2);
}

.videoSlider:hover::-webkit-slider-runnable-track {
  height: 5px;
}

/* /////////////////// LIVE //////////////////////// */
.liveIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 5px;

  position: absolute;
  top: 70px;
  left: 15px;
  background: rgba(33, 33, 33, 0.473);

  padding: 3px 9px 3px 5px;
  border-radius: 2em;
}

.liveIcon > svg {
  width: 17px;
  height: 17px;
}
/* /////////////////// PHOTO //////////////////////// */
/* .imageTag {
  width: 100%;
  height: 100%;
  max-height: calc(100dvh + 100px);
  aspect-ratio: 1;
  display: block;
} */

/* object-fit: var(--objectFitModal); */

/* LOADING ANIMATION FOR VIDEO/LIVE */
@keyframes pulseOpacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.pulse {
  animation: pulseOpacity 1.5s ease-in-out infinite;
}
