.modalContainer {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  height: 100dvh;
  background: var(--bg-primary);
  transition: all 1s;

  overscroll-behavior-y: none;
  overflow-x: hidden;
}

header > .modalTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.buttonContainer > .modalButtons {
  background: none;
  font-size: larger;
}

.modalImages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  overscroll-behavior-y: none;
  overflow-x: hidden;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  -webkit-overflow-scrolling: touch;
}

.imageContainer {
  position: relative;
  min-width: 100%;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.imageContainer > img {
  position: absolute;
  width: 100%;
  height: 100%;

  aspect-ratio: 1;
  object-fit: contain;
  display: block;

  opacity: 1;
  transition: opaccity 0.3s linear;
}
/* /////////////////// THUMBNAIL //////////////////////// */
.modalThumbs {
  position: fixed;
  width: 100%;
  height: 50px;

  bottom: 90px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2px;
  z-index: 1;

  transition: opacity 0.3s linear;
}

.modalThumbs > div {
  position: relative;
  width: 30px;
  height: 100%;
  transition: width 0.3s linear;
}

.modalThumbs > div > img {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: 2px;
}
