:root {
  --font-days: 500 1em sans-serif;
  --font-titles: 510 1.6em sans-serif;
}

.groupContainer {
  /* height: 100%;
  width: 100dvw; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  gap: 35px;
}

/* ////////////////// YEARS ////////////////// */
.mediaContainer {
  position: relative;
  border-radius: 15px;
  height: 250px;
  color: var(--svg-color);
}

.mediaContainer > img,
.monthViewContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  aspect-ratio: 1;
}

.overlayTitle {
  position: absolute;
  margin: 5px 20px;
  padding: 0;
}

.overlayTitle > h3 {
  margin: 0;
  font: var(--font-titles);
  text-shadow: 1px 1px 12px rgb(0, 0, 0);
}

/* ////////////////// MONTHS ////////////////// */

.monthViewContainer {
  position: relative;
  height: 300px;
  width: 100%;
  color: var(--svg-color);
  text-decoration: none;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.titleMonthView {
  margin: 5px 10px;
  font: var(--font-titles);
}

.overlayTime {
  position: absolute;
  font: var(--font-days);
  color: rgb(169, 169, 169);
  text-shadow: 0 0 12px rgb(0, 0, 0);
}

.years {
  margin: 55px 20px;
}

.months {
  margin: 15px;
  font-size: 1.2em;
}

@media (orientation: landscape) {
  .mediaContainer,
  .monthViewContainer {
    width: 70%;
    transition: width 0.2s ease-in-out;
  }
}
@media (orientation: portrait) {
  .mediaContainer,
  .monthViewContainer {
    width: 100%;
    transition: width 0.2s ease-in-out;
  }
}
