:root {
  --heightMoYo: 270px;
  --font-days: 550 1.1em sans-serif;
  --font-titles: 550 1.4em sans-serif;
}

.groupContainer {
  position: absolute;
  width: 100dvw;

  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  gap: 35px;
}
