.container {
  position: fixed;
  top: 0;
  left: 0;
  /* display: flex; */
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  /* align-content: start; */
  /* flex-wrap: wrap; */
  /* gap: 1px; */
}

.container > .virtualContainer {
  position: relative;
  width: 100dvw;
}

.mediaContainer {
  position: absolute;
  overflow: hidden;
  border: 1.5px solid var(--bg-primary);
  transition: all 0.3s ease-in-out;
}

.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imageContainer > img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* object-fit: cover; cover, contain */
  -webkit-user-drag: none;
  transition: transform 0.3s ease;
}

.imageContainer > .cover {
  object-fit: cover;
  transform: scale(1.1);
}

.imageContainer > .contain {
  object-fit: contain;
  transform: scale(1);
}

/* To set all overlay icon and text hover imgs */
.imageContainer > div {
  z-index: 1;
}

/* Overlay Styles ==================================*/
.selectedIcon {
  position: absolute;
  top: 3%;
  left: 4%;
  width: var(--iconSVGSize);
  height: var(--iconSVGSize);
  background-image: url("../../assets/svgs/select-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.overlayText {
  position: absolute;
  bottom: 3%;
  right: 4%;
  color: rgb(247, 247, 247);
  text-shadow: 0 0 5px #343434;
  font: 500 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.overlayLive {
  position: absolute;
  top: 3%;
  left: 4%;
  width: var(--iconSVGSize);
  height: var(--iconSVGSize);
  background-image: url("../../assets/svgs/live-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.overlayFavorite {
  position: absolute;
  bottom: 3%;
  left: 4%;
  width: var(--iconSVGSize);
  height: var(--iconSVGSize);
  background-image: url("../../assets/svgs/favorite-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
