.mainBrusher {
  width: 100dvw;
  height: 100dvh;

  max-width: 100%;
  /* max-height: 90dvh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  /* background: rgba(62, 255, 133, 0.699); */

  width: 100%;
  height: auto;
  border: 1px solid black;
  cursor: crosshair;
}

.inputBrusher {
  position: fixed;
  width: 100%;
  max-width: 300px;
  height: 50px;

  bottom: 90px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2px;
  z-index: 1;

  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  margin: 0;
}

.sizeBrusher {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;

  text-shadow: 0 0 1px 1px black;
}

.inputBrusher > input {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  box-shadow: 0 0 0.5px black;

  outline: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

.inputBrusher > input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--button-active-color);

  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}
