/* General dialog styling */
.uploadDialog {
  position: fixed;
  top: 0;

  background: var(--popup-bground);
  backdrop-filter: blur(10px) brightness(1.1);
  -webkit-backdrop-filter: blur(10px) brightness(1.1);

  border-radius: 15px;
  width: 400px;
  max-width: 90%;

  border: none;
  padding: 0;

  color: var(--text-color);

  pointer-events: auto;
  user-select: none;
  -webkit-user-select: none;

  animation: zoomIn 0.3s ease;
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0 20px;
  font-size: 14px;
}

.dialogTitle {
  color: var(--text-color);
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.instructionsContent {
  padding: 0 12px;
  margin: 0 12px;
}

.checkboxInput {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 2px;
}

.checkboxInput > input {
  border-radius: 25px;
}

.dialogActions {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.dialogActions button {
  flex: 1;
  padding: 15px 0;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  color: var(--button-active-color);
}

.dialogActions > .confirmButton {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

/* @keyframes zoomIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
} */
