.dropdownWrapper {
  position: relative;
  pointer-events: visible;
}

.customSelect {
  padding: 12px 40px 12px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("/src/assets/svgs/dropdown.svg");
  background-size: 2em 2em;
  background-repeat: no-repeat;

  background-position: right 12px center;
  cursor: pointer;

  color: var(--text-color);
}
