/* ================== ROOT VARIABLES ================== */
:root {
  --font-info: 500 13px sans-serif;
  /* --font-navigate: 500 17px/16px system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif; */
  /* --font-headers: 600 45px/45px system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif; */
  --svg-color: rgb(239, 239, 239);
  --bg-primary: rgb(19, 19, 20);
  --bg-secondary: rgba(48, 47, 50, 0.9);
  --bg-overlay: rgba(43, 44, 46, 0.95);
  --backdrop-filter: blur(5px) brightness(0.2);

  --text-color: rgb(239, 239, 239);

  --button-active-color: rgb(53, 132, 246);
  --button-delete-color: rgb(224, 58, 40);

  --popup-bground: rgba(38, 38, 38, 0.79);
  --popup-bdropfilter: blur(20px) brightness(1);

  --iconSVGSize: 25px;

  --textSvgShadow: 0 0 4px rgb(0, 0, 0);

  --modal-object-fit: cover;
}

/* ================== GLOBAL STYLES ================== */

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior: smooth; /* Remove bouding for all of the pages */
}

/* Hide Scrollbars */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  display: none;
}

body {
  background: var(--bg-primary);
  /* backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: blur(20px) brightness(1); */

  margin: 0;
  padding: 0;

  overflow: hidden;
  scroll-behavior: none;

  color: white;
  font-family: sans-serif;
}

/* body > #root {
  overflow: hidden;
  scroll-behavior: none;
} */

svg {
  stroke: var(--svg-color);
  stroke-width: 1.5px;
  fill: var(--svg-color);
  width: 24px;
  height: 24px;
}

/* //////////////////////////////////// */
.mainHomePage {
  position: fixed;
  top: 0;
  left: 0;
  /* min-height: 100dvh; */
  height: 100dvh;
  width: 100dvw;

  overflow-x: hidden;
  overflow-y: auto;

  scroll-behavior: smooth;
  overscroll-behavior: smooth;
  /* z-index: 0; */
}

/* Headings */
header {
  position: fixed;
  top: 0;
  left: 0;
  /* position: sticky; */

  padding: 15px 15px 0 15px;
  height: 65px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.15) 30%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );

  /* Create backdrop cause image display error */
  /* backdrop-filter: blur(1px) brightness(1); */
  /* -webkit-backdrop-filter: blur(1px) brightness(1); */

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  pointer-events: none;

  overflow-y: hidden;
  margin: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  transition: height 0.3s ease;
}

header > div > * {
  margin: 0;
  margin-bottom: 5px;
}

header > div > h1 {
  font-size: 1.7rem;
}

/* Reset button styles for consistent appearance */
h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px 0 5px;
  padding: 15px 0 10px 0;
  border-top: 1px solid rgba(125, 125, 125, 0.1);
  font-size: larger;
}

h3 > button,
h3 > a {
  all: unset;
  color: rgb(53, 89, 250);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

/* ================== BUTTON CONTAINER ================== */
button {
  all: unset;
  cursor: pointer;
  pointer-events: visible;

  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  pointer-events: auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
}

/* For all buttons -------------------- */
.buttonContainer > button,
header > button,
.buttonVideoPlayer {
  inset: unset;
  position: relative;
  font: var(--font-info);

  background: var(--popup-bground);
  backdrop-filter: blur(20px) brightness(1);
  -webkit-backdrop-filter: blur(20px) brightness(1);

  border: 1.5px solid transparent;

  border-radius: 4em;
  padding: 5.5px;

  width: 21px;
  height: 21px;
  min-height: 21px;

  transition: all 0.1s ease-in-out;
  pointer-events: visible;
}

.buttonContainer > button > svg {
  width: 24px;
  height: 24px;
}

.buttonContainer > button:active,
.buttonVideoPlayer:active {
  background: rgba(127, 127, 127, 0.794);
  border: 1.5px solid wheat;
  /* box-shadow: 0 0 10px 5px rgba(147, 147, 147, 0.6); */
}

/* ================== FOOTER CONTROL BAR ================== */
footer {
  overflow: hidden;
  scroll-behavior: none;

  position: fixed;
  bottom: 38px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  transition: opacity 0.3s ease;
}

footer > div > a,
footer > div > button {
  pointer-events: visible;
}

.actions__toolbar__column {
  margin: 0 5px;
  padding: 10px;
  border-radius: 25px;

  background: var(--popup-bground);
  backdrop-filter: blur(20px) brightness(1.5);
  -webkit-backdrop-filter: blur(20px) brightness(1.5);
  mix-blend-mode: difference;
  /* transition: background 0.3s ease; */

  display: flex;
  justify-content: space-between;

  color: var(--svg-color);
}

/* Buttons & Links */
.actions__toolbar__column > button,
.actions__toolbar__column > A {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;

  height: 27px;
  min-width: 27px;
}

.actions__toolbar__column.is_left {
  justify-content: flex-start;
}

.actions__toolbar__column.is_middle {
  justify-content: space-around;
  min-width: 150px;
}

.actions__toolbar__column.is_middle > button,
.actions__toolbar__column.is_middle > A {
  /* padding: 0 10px;
  justify-content: space-between; */
  font-size: 17px;
  color: var(--text-color);
  font-weight: 600;
}

.active_button {
  text-decoration: underline;
}

.inactive_button {
  text-decoration: none;
}

.actions__toolbar__column.is_right {
  justify-content: flex-end;
}

/* SVG Icons */
.actions__toolbar__column svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--svg-color);
  stroke: var(--svg-color);
}

/* ================== ACTIVE LINKS================== */

.footerActive > svg,
.footerInactive > svg {
  transition: transform 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

.footerActive > svg {
  transform: scale(1.15);
  stroke: var(--button-active-color);
  fill: var(--button-active-color);
  filter: brightness(120%);
}

.footerInactive > svg {
  transform: scale(1);
  stroke: var(--svg-color);
  fill: var(--svg-color);
}

/* ================== DISABLED BUTTONS ================== */
.footerDisabled button,
button:disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.2s linear;
}

.hideButtons * {
  opacity: 0;
  pointer-events: none;
  cursor: none;
  transition: opacity 0.3s linear;
}

.hideFooter {
  display: none;
}

/* ================== POPOVER CONTAINER ================== */
.popover-container {
  inset: unset;

  background: var(--popup-bground);
  backdrop-filter: blur(20px) brightness(1.5);
  -webkit-backdrop-filter: blur(20px) brightness(1.5);

  max-height: 300px;
  min-width: 120px;
  max-width: 200px;
  border-radius: 10px;
  right: 5px;
  border: none;

  pointer-events: visible;
  animation: zoomIn 0.3s ease;
  scroll-behavior: none;
}

.popover-container > div,
.popover-container > A {
  padding: 10px;
  cursor: pointer;
  color: rgb(219, 219, 219);
  border-bottom: 1px solid rgb(49, 49, 49);
  border-radius: 5px;

  text-decoration: none;
  width: auto;
}

.popover-container > A {
  display: block;
}

.popover-container > div:last-child,
.popover-container > A:last-child {
  border-bottom: none;
}

/* Specific popovers */
.actions_contents {
  transform-origin: bottom left;
  bottom: 85px;
  margin-right: 15px;
}

.filter_timeline {
  position: absolute;
  transform-origin: top right;
  top: 70px;
  right: 15px;
  margin: 0 5px;
  min-width: 190px;
}

.devices_filter_popover {
  transform-origin: top right;
  top: 70px;
  right: 15px;
}

/* Clear filter button */
.devices_filter_popover > .clear_button {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: smaller;
  text-decoration: underline;

  display: flex;
  justify-content: end;

  padding: 5px;
  color: white;
}

.setting_contents {
  background: var(--bg-secondary);
  -webkit-backdrop-filter: blur(50px) brightness(0.2);
  backdrop-filter: blur(50px) brightness(0.2);

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.1);

  color: #fff;
  inset: unset;
  padding: 0;
  border: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 97%;
  height: 100%;
  animation: slideIn 0.3s ease;
}

/* ================== MEDIA CONTENT ICONS ================== */
.media_type_contents {
  animation: zoomIn 0.3s ease;
  transform-origin: top center;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media_type_contents > .icon_type {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.media_type_contents > .lives {
  width: 25px;
  height: 25px;
  background-image: url("./assets/svgs/live-icon.svg");
}

.media_type_contents > .photos {
  background-image: url("./assets/svgs/photo-icon.svg");
}

.media_type_contents > .videos {
  background-image: url("./assets/svgs/video-icon.svg");
}

/* ================== ACTIVE FILTER ================== */
.iconActiveFilter {
  filter: invert(34%) sepia(76%) saturate(2567%) hue-rotate(179deg) brightness(92%) contrast(106%);
  transition: all 0.3s linear;
}

/* ================== SORT FILTER ================== */
.filter_timeline > .sort_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.activeFilter {
  color: white;
  font-weight: 500;
  background-color: rgba(63, 164, 241, 0.166);
  transition: all 0.3s linear;
}

/* ================== SEARCH INPUT ================== */
.inputSearch {
  outline: none;
  background-color: hsla(0, 0%, 18%, 0.795);
  border: 1px solid transparent;
  border-radius: 10px;
  color: #fff;
}

.inputSearch:focus {
  border: 1px solid rgb(87, 148, 246);
  box-shadow: 0 0 7px hsla(217, 100%, 50%, 0.7);
}

.closeButton {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

/* ================== ANIMATIONS ================== */

@keyframes zoomIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
