/* ================== ROOT VARIABLES ================== */
:root {
  --font-info: 500 12px/12px system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  /* --font-navigate: 500 17px/16px system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif; */
  /* --font-headers: 600 45px/45px system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif; */
  --svg-color: rgb(239, 239, 239);
  --bg-primary: rgb(19, 19, 20);
  --bg-secondary: rgba(48, 47, 50, 0.9);
  --bg-overlay: rgba(43, 44, 46, 0.95);
  --backdrop-filter: blur(5px) brightness(0.2);

  --text-color: rgb(239, 239, 239);

  --button-active-color: rgb(53, 132, 246);
  --button-delete-color: rgb(224, 58, 40);

  --popup-bground: rgba(28, 28, 30, 0.7);
  --popup-bdropfilter: blur(20px) brightness(1);

  --iconSVGSize: 25px;
}

/* ================== GLOBAL STYLES ================== */
body {
  background: var(--bg-primary);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: blur(20px) brightness(1);

  margin: 0;
  padding: 0;

  user-select: none;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  /* overflow: hidden; */
  color: white;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

/* Hide Scrollbars */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  display: none;
}

svg {
  stroke: var(--svg-color);
  stroke-width: 1px;
  fill: var(--svg-color);
  width: 24px;
  height: 24px;
}

/* //////////////////////////////////// */

.mainHomePage {
  overflow-y: hidden;
  height: 100dvh;
  width: 100dvw;
}

.currentActivePage {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg-primary);
  z-index: 1;
}

/* Headings */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 15px 12px 15px;
  width: 100%;

  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));

  /* Create backdrop cause image display error */
  /* backdrop-filter: blur(1px) brightness(1); */
  /* -webkit-backdrop-filter: blur(1px) brightness(1); */

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  box-sizing: border-box;
}

header > div > * {
  margin: 0;
  margin-bottom: 5px;
}

/* ================== BUTTON CONTAINER ================== */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
}

/* For all buttons -------------------- */
.buttonContainer > button {
  inset: unset;
  position: relative;
  font: var(--font-info);
  border: none;

  background: var(--popup-bground);
  backdrop-filter: blur(20px) brightness(1);
  -webkit-backdrop-filter: blur(20px) brightness(1);

  border-radius: 4em;
  padding: 5px;

  height: 20px;
}

.buttonContainer > button > svg {
  width: 20px;
  height: 20px;
}

/* ================== FOOTER CONTROL BAR ================== */
footer {
  position: fixed;
  bottom: 38px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hideFooter {
  display: none;
}

.actions__toolbar__column {
  margin: 0 5px;
  padding: 10px;
  border-radius: 25px;

  background: var(--bg-secondary);
  -webkit-backdrop-filter: blur(5px) brightness(1);
  backdrop-filter: var(--backdrop-filter);

  display: flex;
  justify-content: space-between;
}

/* Buttons & Links */
.actions__toolbar__column > button,
.actions__toolbar__column > A {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  height: 24px;
}

.actions__toolbar__column.is_left {
  justify-content: flex-start;
}

.actions__toolbar__column.is_middle {
  justify-content: space-around;
  min-width: 150px;
}

.actions__toolbar__column.is_middle > button,
.actions__toolbar__column.is_middle > A {
  padding: 0 10px;
  justify-content: space-between;
  font-size: 17px;
  color: var(--text-color);
  font-weight: 600;
}

.active_button {
  text-decoration: underline;
}

.inactive_button {
  text-decoration: none;
}

.actions__toolbar__column.is_right {
  justify-content: flex-end;
}

/* SVG Icons */
.actions__toolbar__column svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--svg-color);
  stroke: var(--svg-color);
}

/* ================== POPOVER CONTAINER ================== */
.popover-container {
  inset: unset;
  background: var(--bg-primary);
  max-height: 300px;
  min-width: 120px;
  max-width: 200px;
  border-radius: 10px;
  right: 5px;
  border: none;
  animation: zoomIn 0.3s ease;
}

.popover-container > div {
  padding: 10px;
  cursor: pointer;
  color: rgb(219, 219, 219);
  border-bottom: 1px solid rgb(49, 49, 49);
  border-radius: 5px;
}

/* Specific popovers */
.actions_contents {
  transform-origin: bottom left;
  bottom: 85px;
  margin-right: 15px;
}

.filter_timeline {
  position: absolute;
  transform-origin: bottom center;
  bottom: 85px;
  left: 0;
  margin: 0 5px;
  min-width: 190px;
}

.devices_filter_popover {
  transform-origin: top right;
  margin: 32px 10px 0 0;
}

/* Clear filter button */
.devices_filter_popover > .clear_button {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: smaller;
  text-decoration: underline;
  display: flex;
  justify-content: end;
  padding: 2px;
  color: white;
}

.setting_contents {
  background: var(--bg-secondary);
  -webkit-backdrop-filter: blur(50px) brightness(0.2);
  backdrop-filter: blur(50px) brightness(0.2);

  color: #fff;
  inset: unset;
  padding: 0;
  border: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 95%;
  height: 100%;
  animation: slideIn 0.3s ease;
}
/* ================== DELETE CONFIRMATION ================== */
.delete_contents {
  inset: unset;

  background: none;

  border: none;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 95%;
  max-width: 390px;
  animation: slideUp 0.3s ease;
}

.delete_contents > * {
  text-align: center;
  width: 100%;
  padding: 20px;

  background: var(--popup-bground);
  backdrop-filter: blur(50px) brightness(1.2);
  -webkit-backdrop-filter: blur(50px) brightness(1.2);

  box-sizing: border-box;

  font-size: larger;
}

.delete_contents > p {
  font-size: small;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #b2b2b2;
  margin: 0;
  /* width: 100%; */
}

.delete_contents > .deleteBtn {
  color: var(--button-delete-color);
  border-radius: 0 0 12px 12px;
}

.delete_contents > .cancelBtn {
  font-weight: 500;
  color: var(--button-active-color);
  margin: 5px 0 20px 0;
  border-radius: 12px;
}

/* ================== MEDIA CONTENT ICONS ================== */
.media_type_contents {
  animation: zoomIn 0.3s ease;
  transform-origin: top center;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media_type_contents > .icon_type {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.media_type_contents > .lives {
  width: 25px;
  height: 25px;
  background-image: url("./assets/svgs/live-icon.svg");
}

.media_type_contents > .photos {
  background-image: url("./assets/svgs/photo-icon.svg");
}

.media_type_contents > .videos {
  background-image: url("./assets/svgs/video-icon.svg");
}

/* ================== ACTIVE FILTER ================== */
.active_filter {
  filter: invert(34%) sepia(76%) saturate(2567%) hue-rotate(179deg) brightness(92%) contrast(106%);
}

/* ================== SORT FILTER ================== */
.filter_timeline > .sort_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.filter_timeline > .sort_filter.active {
  color: white;
  font-weight: 500;
  background-color: rgba(63, 164, 241, 0.166);
}

/* ================== ANIMATIONS ================== */
@keyframes zoomIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes slideUp {
  from {
    bottom: -300px;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

/* ================== DISABLED BUTTONS ================== */
button:disabled svg {
  opacity: 0.5;
}
