/* (A) TABLE WRAPPER */
.tableContainer {
  max-height: 200px;
  overflow: auto;
}

/* (B) STICKY HEADERS */
.tableStyle thead,
.tableStyle th {
  position: sticky;
}
.tableStyle thead {
  top: 0;
  z-index: 2;
}
.tableStyle th {
  left: 0;
  z-index: 1;
}

/* (X) COSMETICS - NOT IMPORTANT */
.tableStyle th,
.tableStyle td {
  font-size: 20px;
  padding: 10px;
  text-align: left;
  min-width: 300px;
}
